<template name="discussion">
  <div class="discussion">

    {{#if currentUser}}

      <form class="new-discussion">
        <input type="text" name="text" placeholder="Type to add new Discussions" /><br><br>

        <span>Add users to disscussion.</span><br><br>

        <div class="roundedOne">
        {{#each users}}       
              
              <input type="checkbox" value="None" id="roundedOne" name="check" class="css-checkbox" />
              <label for="roundedOne">{{username}}</label>
      
        {{/each}}
        </div>

        <input name="button" type="submit"  id="button" value="Add" />
      </form>
      <br>
    {{/if}}
  </div>
  
    
  
</template>