<template name="message">
    <div class="message">

        <h2>discussions: {{text}}</h2>
        

        <div class="msg">
            {{#each messages}}
                <div class="bubble-left">
                    <span><b>{{authorName}}</b>:</span>
                    <span class="time">{{formattedDate}}.</span>
                    <p>{{content}}</p>
                </div>
        
            {{/each}}
        </div>

        {{#if currentUser}}
            <form class="new-msg">
                <div class="message-south">
                    <input type="text" name="text" placeholder="Type to send msg" />
                </div>
            </form>
        {{/if}}

    </div>
    
</template>