<template name="listDiscussions">
{{#AnimateWithVelocity}}
<div data-animate data-properties="translateY, opacity" data-duration="1000" data-from-values="500,0" data-to-values="0,1">
  <div class="list-discussions">

    {{#if currentUser}} 
    {{#each listDiscussions}}
    <div class="list">
        <strong>{{username}}</strong> - <a class="disc" href="/discussions/{{_id}}">{{text}}</a><br>
    </div>
    
    {{/each}}

    {{/if}}

    <div class="image">
    	<img src="plus.png">
    </div>
    
  </div>
</div>
{{/AnimateWithVelocity}}



 
</template>